.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.flex-container {
    display: flex;
}

ul.list-group {
    width: 80%;
    display: inline-block;
}

div.view-buttons {
    display: inline-block;
    margin-left: 20px;
}

.flex-container div.view-buttons .btn-primary {
    margin-bottom: 10px;
    display: block;
}

.panel ::ng-deep .panel-heading,
.form-control,
.control-label,
.btn,
.text-right {
    font-size: 1.5rem !important;
}

.mar-right-10 {
    margin-right: 10px;
}

.table-container {
    margin: auto;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    font-size: 1.5rem;
    border : 1px solid #337ab7;
    border-radius:2px;
}

thead {
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 2px;
}

th {
    height: 40px;
    padding: 0px 10px;
}

tr {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.panel-heading {
    background-color: #337ab7;
}

.panel-primary {
    border-color: #337ab7;
}